{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{#  #}
<h1 class="text-4xl font-bold text-emerald-950">Hello, {% if app.user %} {{app.user.firstname}} {% else %} Visiteur {% endif%} 👋</h1>

<div class="mt-10">
<h2 class="text-3xl font-bold text-emerald-950"> Tâches disponibles</h2>
 <div class="mt-10 grid grid-cols-3 gap-5">
        {% for challenge in challenges %}
            <a href={{ url('challenge_details', {'id': challenge.id} ) }}>
                <div class="flex flex-col p-4 gap-1.5 bg-white border rounded-xl shadow-xl shadow-gray hover:scale-110 transition-all ease-in-out delay-75">

                <div class="flex flex-col gap-2">

                    <span class="block">{{challenge.categories}}</span>

                    <div class="flex flex-row justify-between">
                        <span class="block max-w-sm truncate">{{ challenge.title }}</span>
                        <span class="block">{{challenge.points}}</span>
                    </div>
                
                </div>
                </div>
            </a>
            
        {% endfor %}
    </div>
</div>
{% endblock %}


