{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}

<h1>Profil</h1>
<div>

    <div>

        <div> profil information

            <div>
                <span>{{user.getFirstname()}}</span>
                <span>{{user.getLastname()}}</span>
                <span>{{user.getEmail()}}</span>
                <span>{{role}}</span>
            </div>
           
        </div>

        <div> Stats

            <div>
                <span>{{user.getPoints()}}</span>
            </div>
           
        </div>

        
    </div>
</div>
{% endblock %}


