{% extends 'base.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block title %}Admin panel{% endblock %}

{% block body %}

    <h1 class="text-4xl font-bold text-emerald-950">Espace administrateur 游늵</h1>

    <div class="mt-10">
        <h2 class="text-3xl font-bold text-emerald-950"> Statistiques de la plateforme</h2>

        <div class="flex mt-10 gap-10">
                <div class="flex flex-col items-center p-8 bg-amber-200 rounded-xl">
                    <span class="opacity-50 font-semibold">{{allUsersNumber}}</span>
                    <span class="opacity-50 font-semibold">Utilisateurs</span>
                </div>
                <div class="flex flex-col items-center p-8 bg-purple-200 rounded-xl">
                    <span class="opacity-50 font-semibold">{{allChallengesCreated}}</span>
                    <span class="opacity-50 font-semibold">T칙ches cr칠es</span>
                </div>
                <div class="flex flex-col items-center p-8 bg-green-200 rounded-xl">
                    <span class="opacity-50 font-semibold">{{allChallengesCompleted}}</span>
                    <span class="opacity-50 font-semibold">T칙ches accomplies</span>
                </div>
                <div class="flex flex-col items-center p-8 bg-orange-200 rounded-xl">
                    <span class="opacity-50 font-semibold">{{allChallengesOnDoing}}</span>
                    <span class="opacity-50 font-semibold">T칙ches en cours</span>
                </div>
            </div>
    </div>

    <a href={{ url('admin_add_challenge')}}><button class="mt-10 bg-green-400 p-3 rounded-md hover:shadow-xl hover:shadow-green-200 hover:bg-green-300 active:scale-95 transition-all delay-100 ease-in-out"> <span class="opacity-50 font-semibold">Ajouter une nouvelle t칙che</span> </button></a>
        
    <h2 class="text-3xl font-bold text-emerald-950 mt-10">Liste des t칙ches 游닇</h2>
    <div class="mt-10 grid grid-cols-3 gap-5">
        {% for challenge in challenges %}
            <div class="flex flex-col p-4 gap-4 bg-white border rounded-xl shadow-xl shadow-gray hover:scale-110 transition-all ease-in-out delay-75">

               <div class="flex flex-row gap-4 items-center">

                    <span class="block">{{ macros.getCategoryIcon(challenge.categories | lower)}}</span>
                    <div class="flex flex-row justify-between w-full items-center gap-4">
                        <span class="block max-w-sm">
                            {% if challenge.title | length > 40 %}
                                {{ challenge.title | slice(0, 40) ~ '...' }}
                            {% else %}
                                {{ challenge.title }}
                            {% endif %}
                        </span>
                        <span class="block">{{challenge.points}}</span>
                    </div>
                
                </div>
                <div class="flex gap-2">
                    <a  class="block bg-orange-200 rounded px-1" href={{ url('admin_edit_challenge', {'id': challenge.id} ) }}> <span class="opacity-50 font-semibold text-sm">Modifier</span></a>
                    <a class="block bg-red-200 rounded px-1" href={{ url('admin_delete_challenge', {'id': challenge.id} ) }}> <span class="opacity-50 font-semibold text-sm">Supprimer</span></a>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}