{% extends 'base.html.twig' %}


{% block title %}Inscription{% endblock %}

{% block body %}
        <h1 class="text-4xl font-bold text-emerald-950">Inscription</h1>

        <div class="mt-10 max-w-xl">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.email) }}
            {% if error %} <div class="text-red-500">{{ error }}</div>{% endif %}

            {{ form_label(form.password.password, "Password") }}
            {{ form_widget(form.password.password) }}

            {{ form_label(form.password.confirm, "Repeat password") }}
            {{ form_widget(form.password.confirm) }}

            <div class="text-red-500">{{ form_errors(form.password)}}</div>
            {{ form_row(form.roles) }}

            <div class="mt-10 bg-green-400 p-3 rounded-md hover:shadow-xl hover:shadow-green-200 hover:bg-green-300 active:scale-95 transition-all delay-100 ease-in-out w-fit">
                {{ form_row(form.save, { "label": "Inscription" }) }}
            </div>
            
            {{ form_end(form) }}
        </div>
        

{% endblock %}
